<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./../css/styles.css">
	<link rel="stylesheet" type="text/css" href="../../static/css/styles.css">
	<title>Suchen</title>
</head>

<body>
	<!-- NavBar -->

	<nav id="header-navbar">

		<div class="flex-container">
			<form th:action="@{/back}" th:object="${infoForm}" method="GET">
				<input type="hidden" th:value="*{user}" th:field="*{user}" />
				<button type="submit">Zurück</button>
			</form>
			<form th:action="@{/logout}" method="GET">
				<button type="submit">Logout</button>
			</form>
		</div>
	</nav>

	<section class="search-section" id="book-search-section">
		<div class="flex-container">
			<h1>Buch</h1>
			<form th:action="@{/search/find}" th:object="${searchForm}" method="GET">
				<input type="text" id="search-field" name="search" placeholder="ISBN, Title, Author" th:field="*{input}" autocomplete="off">
				<div class="radio-btn">
					<input type="radio" name="search-type" value="ALL" checked="checked" th:field="*{type}">
					<label for="all">Alles</label><br>
				</div>
				<div class="radio-btn">
					<input type="radio" name="search-type" value="TITLE" th:field="*{type}">
					<label for="title">Titel </label><br>
				</div>
				<div class="radio-btn">
					<input type="radio" name="search-type" value="AUTHOR" th:field="*{type}">
					<label for="author">Autor</label><br>
				</div>
				<div class="radio-btn">
					<input type="radio" name="search-type" value="ISBN" th:field="*{type}">
					<label for="isbn">ISBN</label><br>
				</div>

				<input type="hidden" th:value="*{user}" th:field="*{user}" />
				<button type="submit" id="search-btn">Search</button>
			</form>
		</div>

	</section>

	<section class="search-section" id="user-search-section">
		<div class="flex-container">
			<h1>User</h1>
			<form method="GET">
				<input type="text" id="search-field" name="search" placeholder="username" autocomplete="off">
				<br>
				<button type="submit" id="search-btn">Search</button>
			</form>
		</div>

	</section>

</body>

</html>
