<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>View User</title>
	<link rel="stylesheet" type="text/css" href="../css/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<script src="./../js/inquiry.js"></script>
</head>

<body>
	<!-- NavBar -->
	<nav id="header-navbar">
		<div class="flex-container">
			<form th:action="@{/back}" th:object="${viewingUser}" method="GET">
				<input type="hidden" th:value="*{user}" th:field="*{user}" />
				<button type="submit">Zurück</button>
			</form>
			<form th:action="@{/search}" th:object="${viewingUser}" method="GET">
				<input type="hidden" th:value="*{user}" th:field="*{user}" />
				<button type="submit">Suchen</button>
			</form>
			<form th:action="@{/logout}" method="GET">
				<button type="submit">Logout</button>
			</form>
		</div>
	</nav>
	<div class="container" id="big-title">
		<div class="row">
			<h1>User</h1>
		</div>
		<div class="row">
			<h1 th:utext="${user.username}">...</h1>
		</div>
	</div>
	<section id="my-books-section">
		<div class="container">
			<div class="row">
				<h2>Zu haben</h2>
			</div>
			<div class="container">
				<div class="row">
					<ul class="row" style="list-style-type:none;">
						<li th:each="book: ${books}">
							<div class="book-card">
								<p class="book-card-title" th:utext="${book.shortTitle}">...</p>
								<p class="book-card-text" th:utext="${book.autor}">...</p>
								<div class="card-bottom">
									<div class="icon" th:attr="onclick='inquiry(\'' + ${book.id}+  '\');'" th:object="${viewedUser}">
										<input type="hidden" th:value="*{user}" th:field="*{user}" />
										<input type="hidden" th:value="${book.id}" th:attr="name='bookId'" />
										<img type="image" src="../icons/bell.png" alt="Ask for book">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<div class="platzhalter"></div>
</body>

</html>
