<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Kein User gefunden</title>
<link rel="stylesheet" type="text/css" href="../css/styles.css">
</head>
<body>

	<!-- NavBar -->

	<nav id="header-navbar">

		<div class="flex-container">
			<form th:action="@{/back}" th:object="${infoForm}" method="GET">
				<input type="hidden" th:value="*{hash}" th:field="*{hash}" />
				<button type="submit">Zurück</button>
			</form>
			<form th:action="@{/logout}" method="GET">
				<button type="submit">Logout</button>
			</form>
		</div>
	</nav>

  <section>
  <div class="felx-container flex-center">
    <h1>Niemand gefunden</h1>
    <p>Es sieht so aus als gäbe es keinen User mit den gefragten Anforderungen</p>
    <a href="../user/login">Hier drücken um zum login zu kommen</a>
    </div>
  </section>
</body>
</html>
