<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/styles.css">
  <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
  <script src="../static/js/addBook.js"></script>
  <title>BücherHändler</title>
</head>

<body>


  <!-- NavBar -->

  <nav id="header-navbar">


    <ul>
      <li><a href="index.html">Meine Bücher</a></li>
      <li><a href="impressum.html">Impressum</a></li>
      <li><input type="button" class="nav-search-btn" value="MakeSomeBooks"></li>
    </ul>
    <form>
      <input type="text" id="nav-search" name="search" placeholder="ISBN, Title, Author">
      <input type="button" class="nav-search-btn" value="search">
    </form>



  </nav>


  <!-- Big Title -->

  <div class="container" id="big-title">
    <div class="row">
      <h1>Bücher...</h1>
    </div>
  </div>

  <section id="add-book-section">


    <div class="container">
      <div class="row">
        <div class="new">

          <div id="add-small-form">
            <form th:action="@{/addBook}" th:object="${bookForm}" method="POST">
              <label for="title">Title</label>
              <input type="text" th:field="*{title}" name="title" autocomplete="off" placeholder="Surely you're joking Mr. Feynman">
              <label for="title">Author</label>
              <input type="text" th:field="*{author}" name="author" autocomplete="off" placeholder="Richard Feynman">
              <label for="title">ISBN</label>
              <input type="text" th:field="*{isbn}" name="isbn" autocomplete="off" placeholder="978-123-654">
              <input id="add-btn" type="submit" value="ADD" />
            </form>
          </div>
          <div id="add-large-form">
            <form th:action="@{/addBookExtra}" th:object="${bookForm}" method="POST">
              <label for="title">Title</label>
              <input type="text" th:field="*{title}" name="title" autocomplete="off" placeholder="Surely you're joking Mr. Feynman">
              <label for="title">Author</label>
              <input type="text" th:field="*{author}" name="author" autocomplete="off" placeholder="Richard Feynman">
              <label for="title">ISBN</label>
              <input type="text" th:field="*{isbn}" name="isbn" autocomplete="off" placeholder="978-123-654">
              <label for="title">Link</label>
              <input type="text" th:field="*{googleBooksReferenceUri}" name="title" autocomplete="off" placeholder="googlebooks.de">
              <label for="title">Publisher</label>
              <input type="text" th:field="*{publisher}" name="author" autocomplete="off" placeholder="Penguin Random House ">
              <label for="title">Abstract</label>
              <input type="text" th:field="*{bookAbstract}" name="isbn" autocomplete="off" placeholder="Verry nice read...">
              <input id="add-btn" type="submit" value="ADD" />
            </form>
          </div>
          <button type="button" id="extra-settings-btn">More</button>
        </div>
      </div>
    </div>

  </section>

  <script type="text/javascript">
    var button = document.getElementById('extra-settings-btn');
    var largeForm = document.getElementById("add-large-form")
    var smallForm = document.getElementById("add-small-form")
    button.addEventListener("click", showSettings);

    function showSettings() {
      if (button.innerText == "Close") {
        button.innerText = "More"
        largeForm.style.display = "none"
        smallForm.style.display = "block"

      } else {
        button.innerText = "Close"
        smallForm.style.display = "none"
        largeForm.style.display = "block"
      }

    }
  </script>

  <div class="platzhalter">
  </div>

</body>










</html>
