<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<script src="../static/js/addBook.js"></script>
	<title>BücherHändler</title>
</head>

<body>


	<!-- NavBar -->

	<nav id="header-navbar">

		<div class="flex-container">
			<ul>
				<li><a href="index">Meine Bücher</a></li>
				<li><a href="impressum">Impressum</a></li>

			</ul>


		</div>
	</nav>

	<section id="book-view-section">
		<div class="container" th:object="${book}">
			<div class="flex-container" id="view-book-container">



				<div class="inner-flex">
					<img th:src="*{imageUri}" alt="Kein Bild Verfügbar">
				</div>
				<div class="inner-flex">
					<p>Titel</p>
					<p class="book-card-title" th:utext="*{volumeInfo.title}">...</p>
				</div>
				<div class="inner-flex">
					<p>Untertitel</p>
					<p class="book-card-title" th:utext="*{volumeInfo.subtitle}">...</p>
				</div>
				<div class="inner-flex">
					<p>Autor</p>
					<p class="book-card-title" th:utext="*{autor}">...</p>
				</div>
				<div class="inner-flex">
					<p>Id</p>
					<p class="book-card-title" th:utext="*{id}">...</p>
				</div>
				<div class="inner-flex">
					<p>Verlag</p>
					<p class="book-card-title" th:utext="*{volumeInfo.publisher}">...</p>
				</div>
				<div class="inner-flex">
					<p>Jahr</p>
					<p class="book-card-title" th:utext="*{volumeInfo.publishDate}">...</p>
				</div>
				<div class="inner-flex">
					<p>Seiten</p>
					<p class="book-card-title" th:utext="*{volumeInfo.pageCount}">...</p>
				</div>

				</div>


		</div>
	</section>


</body>

</html>
