<!DOCTYPE html>
<html lang="de" dir="ltr">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./css/styles.css">
	<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
	<title>BücherHändler</title>
	<script src="modal.js"></script>
<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");
  ev.target.appendChild(document.getElementById(data));
}
</script>
</head>

<body>


	<!-- NavBar -->

	<nav id="header-navbar">

		<div class="flex-container">
			<form>
				<p>Hallo &nbsp <p th:utext="${username}">...</p></p>
			</form>

			<form th:action="@{/search}" th:object="${infoForm}" method="GET">
				<input type="hidden" th:value="*{hash}" th:field="*{hash}" />
				<button type="submit">Search</button>
			</form>
			<form th:action="@{/logout}" method="GET">
				<button type="submit">Logout</button>
			</form>
		</div>
	</nav>


	<!-- Big Title -->

	<div class="container" id="big-title">
		<div class="row">
			<h1>Bücher</h1>
		</div>
	</div>


	<!-- My Books -->

	<section id="my-books-section">

		<div class="container">
			<div class="row">
				<h2>Hab' Ich</h2>
			</div>
			<div class="container">
			<div class="row">

				<ul class="row" style="list-style-type:none;">
					<li th:each="book: ${books}">
						<div class="book-card">
							<p class="book-card-title" th:utext="${book.shortTitle}">...</p>
							<p class="book-card-text" th:utext="${book.autor}">...</p>

							<div class="card-bottom">


								<div  class="icon">
									<form th:action="@{/my}" th:object="${infoForm}" method="POST">
									<input type="hidden" th:value="*{hash}" th:field="*{hash}"/>
									<input type="hidden" th:value="${book.id}" th:attr="name='bookId'"/>
									<input type="image" src="../icons/change.png" alt="Change list Icon">
									</form>
								</div>
								<div  class="icon">
									<form th:action="@{/bookView}" th:object="${infoForm}" method="GET">
									<input type="hidden" th:value="*{hash}" th:field="*{hash}"/>
									<input type="hidden" th:value="${book.id}" th:attr="name='bookId'"/>
									<input type="image" src="../icons/view.png" alt="Delete Iconn"/>
									</form>
								</div>
								<div class="icon">
									<img src="../icons/delete.png" alt="Delete Iconn">
								</div>

							</div>
						</div>
					</li>

				</ul>

			</div>
		</div>
		</div>
	</section>

	<!-- Wishlist -->

		<section id="my-books-section">

		<div class="container" id="my-books-title">
			<div class="row">
				<h2>Möcht' Ich</h2>
			</div>
					<div class="container">
			<div class="row">

				<ul class="row">
					<li th:each="book: ${booksWanted}">
						<div class="book-card">
							<p class="book-card-title" th:utext="${book.shortTitle}">...</p>
							<p class="book-card-text" th:utext="${book.autor}">...</p>

							<div class="card-bottom">


								<div  class="icon">
									<form th:action="@{/find}" th:object="${infoForm}" method="GET">
									<input type="hidden" th:value="*{hash}" th:field="*{hash}"/>
									<input type="hidden" th:value="${book.id}" th:attr="name='bookId'"/>
									<input type="image" src="../icons/loupe.png" alt="Loupe Search Icon">
									</form>
								</div>
								<div  class="icon">
									<form th:action="@{/bookView}" th:object="${infoForm}" method="GET">
									<input type="hidden" th:value="*{hash}" th:field="*{hash}"/>
									<input type="hidden" th:value="${book.id}" th:attr="name='bookId'"/>
									<input type="image" src="../icons/view.png" alt="Delete Iconn"/>
									</form>
								</div>
								<div class="icon">
									<img src="../icons/delete.png" alt="Delete Iconn">
								</div>

							</div>
						</div>
					</li>

				</ul>

			</div>
		</div>



		</div>
	</section>


<div class="platzhalter"></div>






	Icons made by
	<a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from
	<a href="https://www.flaticon.com/" title="Flaticon">
		www.flaticon.com</a>
</body>

</html>
